.banner{
    margin-top: 20px;
    margin-left: 75px;
}

.banner2{
    margin-top: 20px;
    margin-left: 115px;
}
html{
    overflow-x: hidden;
}
.footer{
    margin-top: 62px;
}

.apart{
    margin-left: 85px;
    margin-top: 37px;
}

.kos{
    margin-left: 85px;
    margin-top: 37px;
}
.harga_rumah{
    color:#116835;
}



